.piano {
  display: inline-table;
  width: 1168px;
}
.task-container {
  text-align: center;
  width: 1168px;
  padding: 50px 0;
}
.task {
  text-align: center;
  width: 1168px;
  font-size: 62px;
}
.task-description {
  text-align: center;
  width: 1168px;
  padding: 50px 0;
}
.title {
  font-size: 48px;
}
.note {
  border: 2px solid black;
}
.note.white {
  border-right-width: 0;
  width: 80px;
  height: 200px;
  display: inline-block;
  cursor: pointer;
}
.note.white.active, .note.white.selected {
  background-color: #dd9;
}
.note.white:last-child {
  border-right-width: 2px;
}
.note.black {
  border-top-width: 0;
  width: 40px;
  height: 140px;
  background-color: #000;
  position: absolute;
  top: 10px;
  cursor: pointer;
}
.note.black.selected {
  background-color: #666;
}
.note.correct {
  background-color: #0b0 !important;
}
.note.wrong {
  background-color: #b00;
}
.settings {
  width: 1168px;
  border: 1px solid black;
  margin-top: 50px;
}

.button {
  cursor: pointer;
  width: 80px;
  height: 40px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: burlywood;
  display: inline-table;
  font-size: 33px;
}
.button:hover {
  background-color: firebrick;
}

.note.black.c1 { left: 70px; }
.note.black.d1 { left: 153px; }
.note.black.f1 { left: 316px; }
.note.black.g1 { left: 399px; }
.note.black.a1 { left: 481px; }
.note.black.c2 { left: 645px; }
.note.black.d2 { left: 728px; }
.note.black.f2 { left: 891px; }
.note.black.g2 { left: 974px; }
.note.black.a2 { left: 1055px; }